/*----------------------------*/
/*ROOT*/
/*----------------------------*/
:root {
    --main-font: "Lexend", sans-serif;
    --secondary-font: "Outfit", sans-serif;

    --colorBody: #131313;
    --colorBodySec: #e0e0e0;
    --colorPrimary: #cfa247;

    --colorButton:  #b9903d;
    --colorButtonHover: #d6a239;
    --color-btn-hero:  #ce9522;
    --color-btn-secondary: #000000;

    --colorTextPrimary: #ffffff;
    --colorTextSecondary: #1f1f1f;
    --colorTextFooter: #444343;

    --colorScroll: #d6a239;
    --colorScrollBg: #292929;

    --colorHeader: transparent;
    --colorFooter: #1a1a1a;
    --colorFooter2: #1f1e1e;
    --colorFooterBorder: #1a1a1a;
    --colorFooterBorder2: #1b1b1b;

    --colorAccordionHeader: #ffffff;
    --colorAccordionHeaderActive: #dfa64f;
    --colorAccordionText: #000000;
    --colorAccordionCollapsed: #0e1926;
    --colorAccordionBody: #0e1926;
    --colorAccordionBodyCollapsed: #ffffff;
    --bs-border-color: trasparent !important;

    --colorIcons: #292929;
    --colorOutlineInput: #292929;
    --colorValid: green;
    --colorInvalid: red;
    --colorWarning: orange;
}

/*----------------------------*/
/*RESET*/
/*----------------------------*/
* {
    color: var(--colorTextPrimary);
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 64px;
    font-family: var(--main-font);
    font-style: normal;
}

/*----------------------------*/
/*BODY*/
/*----------------------------*/
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow-x: hidden !important;
    background-color: var(--colorBody);
}

/*----------------------------*/
/*LOADING SCREEN*/
/*----------------------------*/
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--colorBody);
    z-index: 9999 !important;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader--hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 35px;
    height: 35px;
    border: 15px solid var(--colorBody);
    border-top-color: var(--colorPrimary);
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

/*----------------------------*/
/*ALERT BOX*/
/*----------------------------*/
#brand-logo-popup {
    display: hidden;
    max-height: 50px;
    width: auto;
    align-self: center;
}

.custom-alert {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.custom-alert-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#alertMessage {
    color: #000000;
}

/*----------------------------*/
/*ANIMATIONS*/
/*----------------------------*/
@keyframes loading{
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}

@keyframes fade-down{
    from {
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }
    to {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes fade-up{
    from {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
    }
    to {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes rotate{
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(360deg);
    }
}

/*Scroll animation*/
.hidden-element {
    opacity: 0 !important;
    transition: all 1.5s;
    filter: blur(5px);
    contain: layout;
    will-change: transform;
}

.translate-left {
    transform: translatey(-80px);
}

.translate-right {
    transform: translatey(80px);
}

.translate-up {
    transform: translatey(80px);
}

.translate-down {
    transform: translatey(-80px);
}

.show {
    opacity: 1 !important;
    filter: none;
    transform: translateX(0);
    transform: translateY(0);
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

/*Sections w/ animations*/
.fade-up {
    transition: ease-in-out;
    animation: fade-up 0.55s ease;
}

.fade-down {
    transition: ease-in-out;
    animation: fade-down 0.55s ease;
}

/*----------------------------*/
/*SCROLLBAR*/
/*----------------------------*/
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--colorScrollBg) !important;
}

::-webkit-scrollbar-thumb {
    background-color: var(--colorPrimary) !important;
    border-radius: 10px;
    border: 2px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #1f1f1f;
}

html {
    scrollbar-width: thin;
    scrollbar-color: var(--colorScroll) var(--colorScrollBg) !important;
}

/*----------------------------*/
/*NAVBAR*/
/*----------------------------*/
header {
    z-index: 999 !important;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
}

@media (max-width: 991px) {
    header {
        background-color: var(--colorBody);
    }
}

@media (max-width: 390px) {
    .lobby-text-fluid {
        font-size: 0.69rem;
    }
}

.navbar {
    z-index: 100 !important;
}

#brand-logo-2 {
    margin-left: 50px;
    margin-right: 20px;
    max-height: 35px;
    height: auto;
    width: auto;
}

.nav-container {
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

.nav-name {
    margin-bottom: 0; 
}

.navbar-nav {
    display: flex;
    align-items: center; 
}

.nav-item {
    margin-left: 20px;
}

.nav-item a {
    color: var(--colorTextPrimary);
    font-family: var(--main-font);
    font-weight: bold;
    text-align: center;
    padding-bottom: 4px;
}

.nav-link.active {
    background-color: transparent !important;
    color: var(--colorPrimary) !important;
}

.nav-link:hover {
    font-weight: bold;
    color: var(--colorButtonHover) !important;
}

.nav-link {
    text-align: center;
    padding-bottom: 0;
}

/*----------------------------*/
/*MAIN SECTION*/
/*----------------------------*/
#home {
    position: relative; 
    display: flex;
    object-fit: cover;
    background-repeat: no-repeat;
    width: 100%;
    overflow: hidden;
    background-image: url(/images/lobby_bg.webp);
    background-size: cover;
    background-position: bottom center;
    height: 100vh; 
    align-items: center;
    justify-content: center;
}

#home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
    pointer-events: none;
}

.logo-hero-section {
    align-self: center;
    height: 250px;
    width: 250px;
    z-index: 2; 
}

.hero-img {
    height: 50px;
    z-index: 2; 
}

.hero-link, .hero-link strong {
    text-decoration: none;
    transition: 1s ease-in-out;
}

.hero-link:hover {
    color: var(--colorButtonHover) !important;
    text-decoration: underline;
}

.hero-link:hover strong {
    color: var(--colorButtonHover) !important;
}

.container-hero-left p {
    color: var(--colorTextPrimary);
    font-weight: 400;
    z-index: 2;
}

.motto {
    text-align: left;
    font-family: var(--secondary-font);
    font-weight: 800;
    font-style: normal;
    color: var(--colorTextPrimary);
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
    z-index: 2; 
    cursor: pointer;
}

.motto:hover {
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
    color: var(--color-btn-hero) !important;
}

.motto svg {
    transition: 0.5s ease-in-out;
}

.motto:hover svg {
    transform: scale(1.55) rotateX(360deg);
    transition: transform 0.5s ease-in-out;
    fill: var(--colorButtonHover) !important;
}

.motto span {
    text-transform: uppercase;
    font-family: var(--secondary-font);
    font-weight: 600;
    font-style: normal;
    color: var(--colorPrimary);
    z-index: 2;
}

.btn-link {
    z-index: 2;
}

.btn-hero {
    max-width: 250px;
    font-weight: bold;
    background-color: var(--color-btn-hero);
    transition: 0.5s ease-in-out;
    text-decoration: none;
    color: var(--colorTextPrimary);
    backdrop-filter: blur(10px);
    z-index: 2;
}

.btn-hero:hover {
    background-color: var(--colorPrimary);
    text-decoration: none;
    color: var(--colorTextPrimary);
}

/*----------------------------*/
/*ABOUT SECTION*/
/*----------------------------*/
#about {
    background-color: var(--colorBodySec);
}

#about p, #about h2,
#about h3, #about h4,
#about h5, #about h6 {
    color: var(--colorTextSecondary);
}

#about p {
    font-weight: bold;
}

.container-about {
    align-items: center;
    justify-content: space-around !important;
}

.container-about-txt {
    max-width: 750px;
    display: flex;
    flex-direction: column;
}

.container-about-img {
    max-width: 100%; 
    margin-right: 20px;
    width: 700px; 
    height: auto; 
    object-fit: contain; 
}

#social-links {
    display: flex;
    justify-content: center;
}

#social-links a svg {
    text-decoration: none !important;
}

#social-links a svg {
    fill: var(--colorTextSecondary);
    margin-left: 10px !important;
    transition: 0.5s ease-in-out;
}

#social-links a svg:hover {
    fill: var(--colorButtonHover);
    transform: scale(1.25);
}

#social-links a {
    text-decoration: none; 
}

.img-text-footer {
    color: var(--colorTextFooter) !important;
}

.bi-question-diamond {
    align-self: center;
    transition: 0.5s ease-in-out;
    fill: var(--colorTextSecondary);
}

.bi-question-diamond:hover {
    transform: scale(1.05);
    fill: var(--color-btn-hero);
}

/*----------------------------*/
/*SERVICES SECTION*/
/*----------------------------*/
#services {
    min-height: 500px;
}

.bi-card-checklist {
    align-self: center;
    transition: 0.5s ease-in-out;
    fill: var(--colorTextPrimary);
}

.bi-card-checklist:hover {
    transform: scale(1.05);
    fill: var(--color-btn-hero);
}

.services-icon {
    display: flex;
    margin: 0 auto !important; 
    max-height: 110px;
    transition: .5s ease-in-out;
}

.services-icon:hover {
    transform: scale(1.08);
}

/*----------------------------*/
/*PROJECTS SECTION*/
/*----------------------------*/
#projects {
    background-color: var(--colorBodySec);
}

#projects p, #projects h2,
#projects h3, #projects h4,
#projects h5, #projects h6 {
    color: var(--colorTextSecondary);
}

#projects p {
    font-weight: bold;
}

.bi-pencil-square {
    align-self: center;
    transition: 0.5s ease-in-out;
    fill: var(--colorTextSecondary);
}

.bi-pencil-square:hover {
    transform: scale(1.05);
    fill: var(--color-btn-hero);
}

.btn-primary {
    background-color: var(--color-btn-secondary) !important;
    border-color: transparent !important;
    transition: .5s ease-in-out !important;
}

.btn-primary:hover {
    background-color: var(--colorButtonHover) !important;
}

.project-title {
    text-transform: uppercase;
    font-family: var(--secondary-font);
    font-weight: 900;
    font-style: normal;
}

.project-container {
    position: relative;
    overflow: hidden;
}

.project-container  h5 {
    transition: 0.5s ease-in-out;
}

.project-container:hover h5 {
    color: var(--color-btn-hero) !important;
}

.project-container a {
    display: block;
    position: relative;
    text-decoration: none;
    transition: 0.5s ease-in-out;
    color: var(--color-btn-hero);
}

.project-desc {
    font-weight: 600 !important;
    color: rgb(102, 102, 102) !important;
}

.project-container .project-img {
    transition: all 0.3s ease;
}

.project-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.project-container .overlay-text {
    font-size: 1.5rem;
}

.project-container a:hover .project-img {
    filter: grayscale(100%);
}

.project-container a:hover .overlay {
    opacity: 1;
}

.container-hidden {
    display: none;
}

.project-carousel-title {
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.project-carousel-title a {
    text-decoration: none;
    color: var(--colorTextPrimary);
    transition: 0.5s ease-in-out;
}

.project-carousel-title a:hover {
    text-decoration: none;
    color: var(--color-btn-hero);
}

.project-carousel-title:hover {
    transform: scale(1.05);
    color: var(--color-btn-hero) !important;
}

.project-carousel-title svg {
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.project-carousel-title:hover svg {
    transform: rotate(180deg);
    fill: var(--color-btn-hero) !important;
}

.carousel-caption-left {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 10px 15px;
    z-index: 3; 
    font-size: 1.2rem;
}

.carousel-caption-left h3 {
    color: var(--colorTextPrimary) !important;
    font-family: var(--secondary-font) !important;
    font-weight: 800 !important;
}

.carousel-item {
    position: relative; 
}

.carousel-caption-left h3 {
    margin: 0;
    font-size: 1.5rem;
}

.carousel-overlay-container {
    position: relative;
}

.carousel-overlay-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.42); 
    z-index: 2; 
}

/*----------------------------*/
/*CLIENTS FEEDBACK*/
/*----------------------------*/
.bi-chat-left-dots {
    transition: 0.5s ease-in-out;
    fill: var(--colorTextPrimary);
}

.bi-chat-left-dots:hover {
    transform: scale(1.05);
    fill: var(--color-btn-hero);
}

/*----------------------------*/
/*CONTACT ANCHOR CTA*/
/*----------------------------*/
#contact-cta {
    background-color: var(--colorBodySec);
}

#contact-cta p, #contact-cta h2,
#contact-cta h3, #contact-cta h4,
#contact-cta h5, #contact-cta h6 {
    color: var(--colorTextSecondary);
}

#contact-cta p {
    font-weight: bold;
}

.btn-budget {
    align-self: center;
    max-width: 650px;
    font-weight: bold;
    background-color: var(--color-btn-hero);
    transition: 0.5s ease-in-out;
    text-decoration: none;
    color: var(--colorTextPrimary);
    backdrop-filter: blur(10px);
    z-index: 2;
}

.btn-budget:hover {
    background-color: var(--colorPrimary);
    text-decoration: none;
    color: var(--colorTextPrimary);
}

.btn-cta-budget {
    align-self: center;
}

.bi-star {
    align-self: center;
    transition: 0.5s ease-in-out;
    fill: var(--colorTextSecondary);
}

.bi-star:hover {
    transform: scale(1.05);
    fill: var(--color-btn-hero);
}

.budget-img {
    max-width: 100%; 
    margin-right: 20px;
    width: 400px; 
    height: auto; 
    object-fit: contain; 
}

.container-budget {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.container-about-img {
    max-width: 100%; 
    margin-right: 20px;
    width: 700px; 
    height: auto; 
    object-fit: contain; 
}

/*----------------------------*/
/*CONTACT SECTION*/
/*----------------------------*/
.bi-card-checklist {
    align-self: center;
    transition: 0.5s ease-in-out;
}

.bi-card-checklist:hover {
    transform: scale(1.05);
    fill: var(--color-btn-hero);
}

#contact {
    position: relative;
    margin-bottom: 50px;
}

.btn-send {
    width: 40%;
    border: none;
    border-color: transparent;
    transition: 0.5s ease-in-out;
    color: var(--colorTextPrimary);
    background-color: var(--color-btn-hero) !important;
}

.btn-send:hover {
    background-color: var(--colorButtonHover) !important;
}

#brand-logo-3 {
    height: auto;
    width: auto;
    max-height: 200px;
    max-width: 50%;
    align-self: center;
    transition: 0.5s ease-in-out;
}

#brand-logo-3:hover {
    transform: scale(1.05);
}

.help-svg {
    fill: grey !important;
}

.help-svg:hover {
    transform: scale(1.03);
    fill: white !important;
}

/*FORM*/
.form {
    max-width: 100%;
    width: 100%;
    transition: 0.5s;
}

.input-search {
    outline: none;
}

.input-group {
    position: relative;
}
.input-group .input-group-text {
    z-index: 99;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    width: 2.5rem; 
    height: 2.5rem; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem; 
}

.form-control {
    padding-left: 3rem; 
}

.msg-control {
    padding-left: 1rem; 
}

.svg-icon{
    fill: var(--colorIcons) !important;
}

/* Input */
input:focus, textarea:focus {
    outline: 2px solid var(--colorPrimary);
    box-shadow: 0 0 5px var(--colorPrimary);
}

input, textarea {
    outline: 2px solid var(--colorOutlineInput);
    box-shadow: 0 3px 6px rgba(0,0,0,0.35);
}

input:not(:placeholder-shown):valid {
    outline-color: var(--colorValid);
}

input:not(:placeholder-shown):invalid {
    outline-color: var(--colorInvalid);
}

input:focus:valid {
    outline-color: var(--colorValid);
}

input:focus:invalid {
    outline-color: var(--colorWarning)
}

select option[value=""][disabled] {
    color: #aaa !important;
}

/*----------------------------*/
/*FOOTER*/
/*----------------------------*/
#info {
    background-color: var(--colorFooter2) !important;
    color: var(--colorTextPrimary);
    border-bottom: 2px solid !important;
    border-color: var(--colorFooterBorder2) !important;
}

#info-container {
    background-color: var(--colorFooter) !important;
    color: var(--colorTextPrimary);
}

#footer-foot-note {
    background-color: var(--colorFooter2) !important;
}

.footer-menu1 p a {
    transition: 0.5s ease-in-out;
}

.footer-menu1 p a:hover {
    color: var(--colorPrimary) !important;
}

#footer-info {
    text-align: center;
}

#footer-logo {
    max-height: 100px;
    transition: 0.5s ease-in-out;
}

#footer-logo:hover {
    transform: scale(1.05);
}

#footer-social-links a svg {
    text-decoration: none !important;
}

#footer-social-links a svg {
    fill: var(--colorPrimary);
    margin-left: 10px !important;
    transition: 0.5s ease-in-out;
}

#footer-social-links a svg:hover {
    fill: var(--colorButtonHover);
    transform: scale(1.25);
}

#footer-social-links a {
    text-decoration: none;
}

.contact-footer {
    vertical-align: center !important;
    align-items: center;
    align-content: center;
}

#footer-foot-note {
    display: flex;
    font-weight: bold;
    justify-content: space-around;
}

#footer-foot-note span {
    color: #dfdfdf !important;
    margin-right: 10px;
}

#footer-developed-by {
    font-weight: bold;
}

#footer-developed-by a {
    color: rgb(233, 233, 233) !important;
    transition: 0.5s ease-in-out;
}

#footer-developed-by a:hover {
    color: var(--colorPrimary) !important;
}